/* Hotbar Changes */
.item {
    background-color: rgb(57, 70, 70); /* Background Colour of Hotbar */
    border: .25rem solid rgb(92, 94, 93); /* You can edit the thickness of the border, alongside the border type & colour */

/* Same thing but with Selected Items */

.SelectedItem{
     background-color: rgb(57, 70, 70);
    border: .25rem solid rgb(205, 224, 196);
}

/* Fonts: Check out https://fonts.cdnfonts.com or https://fonts.google.com. Import via CSS */

@import url('https://fonts.cdnfonts.com/css/minecraftia');

.WholeAppWrapper {
    font-family: "minecraftia", sans-serif;
}

/* Edit the Background Image. Get the Image Address by right clicking the image and clicking 'Copy Image Address' */

.HomeBackground{
    background-image: url('https://i.imgur.com/O0i5ljO.png') !important;
}