.BottomScreenStatBarBackground {
    background-color: #03092f;
    border-radius: .9rem !important;
    border-top-left-radius: 0rem !important;
    border-bottom-right-radius: 0rem !important;
    height: 2.5rem;
    overflow: hidden;
    width: 13rem;
    border-bottom-right-radius: 0rem !important;
    border-top-left-radius: 0rem !important;
}

.HealthBar {
    background-color: #1cafe200 !important;
    box-shadow: inset 0 .4rem 0 0 #ffffff1a, inset 0 -.4rem 0 0 #00000015 !important;
    background-image: linear-gradient(315deg, #ff0058 0%, #21a4fe 74%) !important;
}

.BottomScreenStatBarWrapper {
  left: 12rem !important;
}

.ControlsContainer .ControlRow.WarningBorder {
  border: 0px #00000000 !important;
  background-image: linear-gradient(315deg, #ff005875 0%, #21a4fe30 74%) !important;
}