.SettingsMenu {
  background-color: #14192896 !important;
  border-radius: 1rem !important;
  border: 1px solid #00d8ff !important;
}

.SettingsMenuLeft {
  background-color: #1a1d2873 !important;
}

.BloxdDropdownControl {
    background-color: #424d6100 !important;
    background-image: linear-gradient(315deg, #ff005875 0%, #21a4fe30 74%) !important;
    border-color: #1ef1ff !important;
    border-radius: 0;
    color: #fff;
    font-size: 1em;
    padding-right: 6em;
}

.SettingsMenuRightInner .SettingBox {
    background-color: #424d6100 !important;
    background-image: linear-gradient(315deg, #94003378 0%, #196ba369 74%) !important;
    border: 1px solid #11ecff !important;
}

.BloxdDropdownMenu {
    background-color: #424d6100 !important;
    background-image: linear-gradient(315deg, #940033 0%, #196ba3 74%) !important;
    border-color: #1ef1ff !important;
    border-radius: 0;
    color: #fff;
    font-size: 1em;
}

.Dropdown-option:hover {
        background-color: #303a59;
        color: #ff0000 !important;
    }

.ControlsContainer .ControlRow {
    background-color: #424d6100 !important;
    background-image: linear-gradient(315deg, #ff005875 0%, #21a4fe30 74%) !important;
    border-radius: 1rem !important;
    border: 1px solid #1ab9ff !important;
}

.ControlsContainer .ControlRow .ControlRowWarning {
  background-color: #00d8ff !important;
}

.Loader .LoaderInner,.Loader .LoaderOuter {
    border-radius: 50%;
    box-sizing: border-box;
    position: absolute;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-image: url('https://iili.io/2sKKMDQ.jpg') !important;
}

.Loader .LoaderOuter {
    animation: rotate 0s ease-in-out infinite !important;
    border-top: var(--border-size) solid #22283b;
    border: var(--border-size) solid #22283b;
    border-top-color: #00f1ff !important;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}

.Loader .LoaderInner .row .cell {
    aspect-ratio: 0/0 !important;
    width: 0% !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-image: url('https://iili.io/2sKKMDQ.jpg') !important;
}

.InviteLinkInner {
    background-image: linear-gradient(315deg, #ff005875 0%, #21a4fe30 74%) !important;
    border: 1px solid #1ab9ff !important;
}

