.ShopBody {
  background-color: #06080c96 !important;
}

.ShopSidebarMenu {
  background-color: #06080c36 !important;
}

.SidebarMenu {
  background-color: #0c0d125e !important;
}

.ShopItem {
  background-color: #18191cc7 !important;
}

.ShopItemHeaderDiv {
  background-color: #0505077d !important;
}

.SelectedItemViewer {
  background-color: #18191cc7 !important;
}

.SelectedItemHeaderDiv {
  background-color: #0505077d !important;
}