.CenteredDiv .SelectGameGridBackgroundContainer {
  filter: opacity(0) !important;
}

.HomePageBackgroundContainer {
  filter: opacity(0) !important;
}

.HomePageInner {
  background-image: url('https://iili.io/KYPmsSf.jpg') !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}