.TexturePackCategory .CustomTexturePackContainer {
  border: 1px solid #00d8ff !important;
  box-shadow: 0 0 20px rgb(0 173 255), inset 0 0 5px rgba(22, 201, 255, 0.9) !important;
  border-radius: 1rem !important;
}

.TexturePackCategory .CustomTexturePackContainer .CustomTextureWarning {
  background-color: #00d8ff !important;
  border-radius: 1rem !important;
}

.TexturePackCategory .CustomTexturePackContainer .CustomTextureFolderUpload {
  background-image: linear-gradient(315deg, #ff005875 0%, #21a4fe30 74%) !important;
}