.HomeHeader .HomeHeaderInner .HomeHeaderTop .TitleContainer .Title {
    text-shadow: -.2rem -.2rem 0 #1e1e1e, 0 -.2rem 0 #1e1e1e, .3rem -.2rem 0 #1e1e1e, .3rem 0 0 #1e1e1e, .3rem .2rem 0 #1e1e1e, 0 .2rem 0 #1e1e1e, -.2rem .2rem 0 #1e1e1e !important;
}