.HomeHeader .HomeHeaderInner .HomeHeaderTop .TitleContainer .Title {
  color: #00000000 !important;
  background-image: url(https://iili.io/KLbYAp1.png) !important;
  background-repeat: no-repeat !important;
  width: 20rem !important;
  line-height: 5.5rem !important;
  background-size: 20rem !important;
  text-shadow: 0 0 #00000000 !important;
}