.TexturePackCategory .CustomTexturePackContainer {
  border: 1px solid #00d8ff !important;
}

.TexturePackCategory .CustomTexturePackContainer .CustomTextureWarning {
  background-color: #00d8ff !important;
}

.TexturePackCategory .CustomTexturePackContainer .CustomTextureFolderUpload {
  background-image: linear-gradient(315deg, #ff005875 0%, #21a4fe30 74%) !important;
}

.TexturePackCategory .TexturePack.Selected {
  border: 2px solid #00d8ff !important;
  background-image: linear-gradient(315deg, #ff0058 0%, #21a4fe 74%) !important;
}