.Inventory {
    background-color: #1113227d !important;
    border: 1px solid #000000;
    border-radius: 1.5rem !important;
    box-shadow: .2rem .25rem 0 #00000052;
    flex-shrink: 0;
    pointer-events: all;
    position: relative;
    touch-action: none;
    z-index: 2;
}

.InvenItem {
    content-visibility: auto;
    align-items: center;
    background-color: #17192287 !important;
    border-color: #999eae #6b707f #8798d0 #5d657d !important;
    border-radius: .5rem;
    border-style: solid;
    border-width: .2rem;
    contain: strict;
    display: flex;
    height: 4rem;
    justify-content: center;
    width: 4rem;
}

.BlockItem {
    color-rendering: optimizeSpeed !important;
}