/* Settings changes */
.SettingsMenu {
  background-color: #161616;
  border: .5px solid #000000;
  border-radius: 2rem;
  box-shadow: 2rem .25rem 0 rgb(255 255 255 / 0%)
}

.SettingsMenuLeft {
  background-color: #1e1e1e;
}

.ActiveSettingsSectionTitle{
  background-color: #00b8ff5c;
  border-bottom: 0px solid #ffffff00;
  border-bottom-width: 0px;
  border-top: 0px solid #ffffff00;
  color: #00f1ff;
}
.SettingsSectionTitle:hover{
  background-color: #00b8ff5c;
  border-bottom: 0px solid #ffffff00;
  border-top: 0px solid #ffffff00;
  color: #00f1ff;
}

.ShopBody {
  background-color: rgb(22 22 22);
  border: 1px solid 1px solid #000000;
}

.ShopSidebarMenu {
  background-color: rgb(28 28 28);
  border: 0px solid #00dcff;
}

.SidebarMenu {
  background-color: rgb(39 39 39);
  border: 0px solid #00dcff;
}

.ShopItemHeaderDiv {
  background-color: rgb(63 187 237 / 19%);
  border: 0px solid #00dcff;
}

.ShopItem {
  background-color: rgb(28 28 28);
  border: 0px solid #00dcff;
}

.SelectedShopItem {
  background-color: rgb(35 35 35);
  border: 0px solid #00dcff;
}

.ActiveSidebarMenuTitleTitle {
  background-color: #d50062;
  color: #ffffff;
}

.ShopItemHeaderDiv {
  background-color: rgb(28 28 28);
}

.ActiveSidebarMenuTitleTitle {
  border-bottom: 1px solid var(#303a5900);
  border-top: 1px solid var(#303a5900);
}

.ActiveSettingsSectionTitle {
  background-color: #d1007e;
  border-bottom: 1px solid #303a5900;
  border-top: 1px solid #303a5900;
  color: #ffffff;
}

body {
  --primary-1: #ffffff00;
  --primary-2: #ffffff00;
  --primary-3: #ffffff00;
  --primary-4: #ffffff00;
  --primary-5: #ffffff00;
}

.SelectedItemHeaderDiv {
  background-color: #272727;
}

.Inventory {
  background-color: #212121;
  border: 0px solid;
  box-shadow: .2rem .25rem 0 rgb(0 0 0 / 32%);
}

.InvenItem {
  background-color: #292627;
  border-color: rgb(85 85 85);
}

.CharCustomisation {
  background-color: #1e1e1e;
  border: 1px solid #000000;
  border-radius: 1.35rem;
  box-shadow: .2rem .25rem 0 rgb(0 0 0 / 35%);
}

.AvailableGamebedwars_duo {
  background-image: url('https://iili.io/dcOtZkx.png') !important;
}

.ShopItemHeaderDiv {
  background-color: #292a31;
}

.ActiveSidebarMenuTitleTitle P
  background-color: rgb(30 30 30);
  color: #ffffff;
}

.SelectedItemViewer {
  background-color: #202125;
}

.GameCardContainer {
  aspect-ratio: 2:2;
{

.GameCardContainer .AvailableGame {
border-radius: 0rem !important;
}