/* Hotbar Changes */
.item {
  background-color: #000000c7; /* Background Colour of Hotbar */
  border: .25rem solid #2b93c5; /* You can edit the thickness of the border, alongside the border type & colour */
}

/* Same thing but with Selected Items */

.SelectedItem{
   background-color: #2c94b761;
   border: .25rem solid #22a3e1;
}
