/* Settings changes */
.SettingsMenu {
  background-color: #000000c7;
  border: 3px solid #00d0ff;
  border-radius: 1rem;
  box-shadow: .2rem .25rem 0 rgb(255 255 255 / 0%)
}

.SettingsMenuLeft {
  background-color: #0095ff21;
}

.ActiveSettingsSectionTitle{
  background-color: #00b8ff5c;
  border-bottom: 0px solid #ffffff00;
  border-bottom-width: 0px;
  border-top: 0px solid #ffffff00;
  color: #00f1ff;
}
.SettingsSectionTitle:hover{
  background-color: #00b8ff5c;
  border-bottom: 0px solid #ffffff00;
  border-top: 0px solid #ffffff00;
  color: #00f1ff;
}

.ShopBody {
  background-color: rgb(0 42 119 / 14%);
  border: 1px solid #00dcff;
}

.ShopSidebarMenu {
  background-color: rgb(63 187 237 / 19%);
  border: 0px solid #00dcff;
}

.SidebarMenu {
  background-color: rgb(63 187 237 / 19%);
  border: 0px solid #00dcff;
}

.ShopItemHeaderDiv {
  background-color: rgb(63 187 237 / 19%);
  border: 0px solid #00dcff;
}

.ShopItem {
  background-color: rgb(63 187 237 / 19%);
  border: 0px solid #00dcff;
}

.SelectedShopItem {
  background-color: rgb(63 187 237 / 19%);
  border: 0px solid #00dcff;
}

.ActiveSidebarMenuTitleTitle {
  background-color: #00b8ff42;
  color: #14f2ff;
}

.ShopItemHeaderDiv {
  background-color: #22c2ff;
}

.ActiveSidebarMenuTitleTitle {
  border-bottom: 1px solid var(#303a5900);
  border-top: 1px solid var(#303a5900);
}

.ActiveSettingsSectionTitle {
  border-bottom: 1px solid #303a5900;
  border-top: 1px solid #303a5900;
}

body {
  --primary-1: #ffffff00;
  --primary-2: #ffffff00;
  --primary-3: #ffffff00;
  --primary-4: #ffffff00;
  --primary-5: #ffffff00;
}

.SelectedItemHeaderDiv {
  background-color: #00b8ff;
}

.Inventory {
  background-color: #00c4ff36;
  border: 0px solid;
  box-shadow: .2rem .25rem 0 rgb(0 103 209 / 32%);
}

.InvenItem {
  background-color: #ffffff00;
  border-color: rgb(0, 220, 255);
}

.CharCustomisation {
  background-color: #00a1ff2e;
  border: 3px solid #00e7ff;
  border-radius: 1.35rem;
  box-shadow: .2rem .25rem 0 rgb(0 184 255 / 35%);
}

.CharCustomisation {
  background-color: #00a9db52;
}