/* Change Gamemodes Thumbnails */

.AvailableGamebedwarssolo {
  background-image: url('https://iili.io/34vIjQs.png') !important;
}

.AvailableGamebedwarsduo {
  background-image: url('https://iili.io/34vTwAP.png') !important;
}

.AvailableGamebedwars4v4v4v4 {
  background-image: url('https://iili.io/3gcER9I.png') !important;
}

.AvailableGamebedwarstrio {
  background-image: url('https://iili.io/3yCt7mN.png') !important;
}