.CrossHair {
  background-image: url('https://iili.io/35thJb1.png') !important;
  color: #fff;
  font-size: 0rem;
  font-weight: 300;
  height: 20px;
  left: 50%;
  line-height: 20px;
  background-size: contain !important;
  background-repeat: no-repeat !important;
}